.tns-outer{
    position: relative;

    button[data-controls="prev"]{
        position: absolute;
        top: 50%;
        z-index: 99;
        left: 2.5%;
        background: none;
        border: none;
        font-size: 0;
        visibility: hidden;

        &:before{
            content: "";
            visibility: visible;
            display: block;
            width: 21px;
            height: 40px;
            background-image: url(../img/left.jpg);
            background-repeat: no-repeat;
            background-position: left;
        }
    }
    
    button[data-controls="next"]{
        position: absolute;
        top: 50%;
        z-index: 99;
        right: 2.5%;
        background: none;
        border: none;
        font-size: 0;
        visibility: hidden;

        &:before{
            content: "";
            visibility: visible;
            display: block;
            width: 21px;
            height: 40px;
            background-image: url(../img/right.jpg);
            background-repeat: no-repeat;
            background-position: right;
        }
    }

    .tns-nav{
        margin: 5px 0 30px;

        button{
            background-color: transparent;
            width: 12px;
            height: 12px;
            margin: 0 4px;
            border: 1px solid $dec-blue;
            display: inline-block;
            cursor: pointer;
            transform: skewX(15deg) skewY(0);

            &.tns-nav-active{
                background-color: $dec-blue;
            }
        }
    }
}